* {
  margin: 0;
  padding: 0;
}
body,
html {
  min-width: 100%;
  min-height: 100vh;
  font-family: AdiHaus;
}

body {
  display: flex;
}

.all-container {
  max-width: 500px;
  margin: 0 auto;
}

@font-face {
  font-family: adiHaus;
  src: url(Fonts/AdiHaus_Regular/AdiHaus_Regular.ttf);
}

@font-face {
  font-family: adiHaus_Bold;
  src: url(Fonts/AdiHaus_Bold/AdiHaus_Bold.ttf);
}
.adidas-logo {
  display: block;
  margin: 20px auto;
}

.cover-image-mobile {
  width: 80%;
}

.content-container {
  padding: 20px 30px;
  text-align: center;
}

h2 {
  font-size: 48px;
  padding: 5px;
  letter-spacing: 5px;
}
.red-text {
  color: #2f80ed;
  padding: 5px;
  line-height: 42px;
  font-weight: 400;
  margin-top: 20px;
}

.bold-announcement {
  font-family: adiHaus_Bold;
  color: #423a3a;
  font-weight: 700;
  line-height: 50px;
}

.announcement-text {
  color: #333;
  font-size: 14px;
  margin: 15px 32px;
  line-height: 28px;
}

.email-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: -1;
}

#email {
  border: 1px solid #333;
  border-right: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 48px;
  width: 247px;
  border-radius: 3px 0 0 3px;
  /* margin-top: 30px; */
}

.email-submit {
  background: rgb(105, 105, 105);
  background: linear-gradient(
    90deg,
    rgba(105, 105, 105, 1) 25%,
    rgba(79, 79, 79, 1) 60%,
    rgba(66, 58, 58, 1) 100%
  );
  font-size: 2rem;
  color: #fff;
  height: 48px;
  width: 64px;
  box-sizing: border-box;
  border-radius: 0 3px 3px 0;
  /* margin-top: 30px; */
}

.email-submit:hover {
  background: goldenrod;
  cursor: pointer;
}

.desktop-img {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cover-image-mobile {
    display: none;
  }

  body {
    background: url("https://assets.codepen.io/6060109/waves.png");
    background-size: cover;
  }

  .all-container {
    width: 60%;
    margin: 0 auto;
  }

  .content-container {
    margin-left: 0px;
    padding: 0;
    text-align: left;
  }

  .desktop-right {
    display: block;
    width: 40%;
    background: url("https://assets.codepen.io/6060109/shoes.png");
    background-size: cover;
  }

  .desktop-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .adidas-logo {
    display: block;
    margin: 20% 0 20% 0;
    /* margin-left: 0px;
      margin-bottom: 100px; */
  }

  h2 {
    font-size: 64px;
  }

  .red-text {
    line-height: 64px;
  }

  .bold-announcement {
    line-height: 71px;
  }

  .announcement-text {
    font-size: 16px;
    margin: 20px 0;
  }

  .email-form {
    justify-content: flex-start;
  }
  .email-input {
    flex-basis: 80%;
  }

  #email {
    width: 100%;
  }
}
